<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .button {
            text-decoration: none;
            display: block;
            width: 70%;
            background: bisque;
            color: #4E9CAF;
            padding-left: 1%;
            border-radius: 3px;
            line-height: 175%;
            margin-bottom: 5px;
            transition-duration: 0.7s;
        }

        a:hover {
            background-color: #4E9CAF;
            color: bisque;
            transition-duration: 1.1s;
        }
    </style>
</head>

<body style="background-color: bisque;">

####

</body>
</html>
